<div class="confirm-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contact changes</h4>
            </div>
            <div class="modal-body">
                Some changes to the contact are not saved.<br />
                Do you want to save the changes before you continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="" >Discard Changes</button>
                <button type="button" class="btn btn-primary" ng-click="">Save Changes</button>
            </div>
        </div>
    </div>
</div>