{% extends '::base.html.twig' %}

{% block body %}
<div ng-controller="RegisterCtrl">
{% include 'AppBundle:Nav:navBar.html.twig' %}
<div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello [[yourName]]!</h1>
    </div>
{% include 'AppBundle:Modals:loginModal.html.twig' %}
</div>

<div ng-controller="PhotoCtrl">
	<div ng-repeat="photo in photos">
		<div class="panel-default">
			<img ng-src="[[photo]]" />
		</div>
	</div>
</div>
{% endblock %}
