{% extends '::base.html.twig' %}

{% block body %}
<div ng-controller="RegisterCtrl">
	{% include 'AppBundle:Nav:navBar.html.twig' %}
	<div>
		<label>Name:</label>
		<input type="text" ng-model="yourName" placeholder="Enter a name here">
		<hr>
		<h1>Hello [[yourName]]!</h1>
	</div>
	{% include 'AppBundle:Modals:loginModal.html.twig' %}
</div>

<div ng-controller="PhotoCtrl">
	<div deckgrid class="deckgrid" source="photos">
		<div ng-style="{'border':'solid 10px'}" class="a-card">
			
				<img  src="" height="100%" width="100%" data-ng-src="[[card.value]]">
			
		</div>
	</div>
</div>
{% endblock %}
