{% extends '::base.html.twig' %}

{% block body %}
<div ng-controller="RegisterCtrl">
	{% include 'AppBundle:Nav:navBar.html.twig' %}
	{% include 'AppBundle:Modals:loginModal.html.twig' %}
</div>

<div ng-controller="PhotoCtrl" class="col-md-8">

	{% if is_granted('ROLE_USER') %}

	<div ng-controller="SearchCtrl">
		<button class="btn btn-default" ng-click="showTags()">Toggle collapse</button>
		<hr>
		<div collapse="isCollapsed">
			<div class="well well-lg">

				<label ng-repeat="tag in tagNames">
					<input type="checkbox" checklist-model="search.tags" checklist-value="tag"> [[tag]]
				</label>
			</br>
				<h4>Enter Search Radius</h4>
				<input type="text" name="input" ng-model="search.distance"
				ng-pattern="/^\d+$/" required ng-trim="false">

				<button class="btn btn-success" ng-click="submitSearch()">Search!</button>

			</div> 
		</div>
		<div ng-model="search.tags">[[search.tags]]</div>
		<div ng-model="search.distance">[[search.distance]]</div>

	</div>

	{% endif %}

	<div>

		<div>

			<div class="col-md-4" >
				<leaflet defaults="defaults" markers="markers" center="center" height="480px" width="100%"></leaflet>
			</div>



			<div deckgrid class="deckgrid" source="photos">
				
				<div ng-style="{'border':'solid 10px'}" class="a-card" ng-attr="[[card.key]]">

					<img 
					ng-mouseover="mother.highlight([[card.key]])"
					ng-click="mother.getArtInfo([[card.path]])"
					height="100%" width="100%" data-ng-src="[[card.path]]">

				</div>
			</div>
		</div>

	</div>

</div>


<!-- render modal displaying the photo and info on click of photo -->
<div ng-controller="PhotoCtrl">
	<script type="text/ng-template" id="modal.html">
	<div class="modal-header">
	<h3 class="modal-title"><p>[[artInfo.device]]</p></h3>
	</div>
	<div class="modal-body">
	<h4>date</h4>
	<p>[[artInfo.uploadDate]]</p>
	<h4>view count</h4>
	<p>[[artInfo.viewCount]]</p>
	<h4>where?</h4>
	<p>[[artInfo.latitude]] , [[artInfo.longitude]]</p> 

	<img 
	height="100%" width="100%" data-ng-src="[[artInfo.path]]">

	</div>
	<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Close</button>
	</div>
	</script>
</div>
{% endblock %}
