{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
    	{% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user') }}">
            Back to the list
        </a>
        {% else %}
        <a href="{{ path('homepage') }}">
            Homepage
        </a>
        {% endif %}
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
